@model SymaCord.TryOnMirror.UI.Web.ViewModels.LocalPasswordModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="control-group">
        @Html.LabelFor(x => x.NewPassword, new {@class = "control-label"})
        <div class="controls">
            @Html.PasswordFor(x => x.NewPassword, new {placeholder = "New Password"})
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(x => x.ConfirmPassword, new {@class = "control-label"})
        <div class="controls">
            @Html.PasswordFor(x => x.ConfirmPassword, new {placeholder = "Confirm Password"})
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Set password</button>
        </div>
    </div>
}
